/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: 1px solid;
}
body{
    background: url("1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}


.feed-container{
    margin: 20px;
    width: 750px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.feed-container .feed-box p{
    padding: 15px;
}

.feed-interactions{
    display: flex;
    justify-content: right;
    padding: 20px 0;
}

.feed-btn{
    padding: 0 20px;
}

